DATABASE_URL=""
DIRECT_URL=""
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_AUTH_JWT_SECRET=

MAILTRAP_API_KEY=
MAILTRAP_SENDER_EMAIL=
MAILTRAP_SENDER_NAME=

SHIPSGO_BASE_URL=
SHIPSGO_API_KEY=

EVOLUTION_API_URL=
EVOLUTION_API_KEY=
EVOLUTION_INSTANCE_NAME=

ZAPSIGN_BASE_URL=https://sandbox.api.zapsign.com.br/api/v1/
ZAPSIGN_API_TOKEN=

ASAAS_API_KEY=\$
ASAAS_BASE_URL=https://api-sandbox.asaas.com/v3
ASAAS_WEBHOOK_TOKEN=
